<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.collegeorganizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Activity_Main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Activity_Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".activities.Activity_PhysicalActivityScheduler"
            android:label="@string/title_activity_physical_scheduler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity_Academic_Scheduler_Recorder"
            android:label="@string/title_activity_academic_scheduler_recorder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity_SocialScheduler"
            android:label="@string/title_activity_social_scheduler"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity_DietRecorder"
            android:label="@string/title_activity_diet_recorder"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.Activity_Calendar"
            android:label="@string/title_activity__calendar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity_SleepRecorder"
            android:label="@string/title_activity__sleep_recorder"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".activities.Activity_Data_Comparer"
            android:label="@string/title_activity__data__comparer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.Activity_SleepData"
            android:label="@string/title_activity__sleep_data"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.Activity_PhysicalActivityData"
            android:label="@string/title_activity__physicalactivity_data"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.Activity_SocialActivityData"
            android:label="@string/title_activity__physicalactivity_data"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>